@charset "utf-8";
/* CSS Document */
#principal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height: 100vh;	
}
#pantalla{
  float: left;
  width: 100%;
  height :25%;
  background: #0CF;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  font-family: "Times New Roman" ,Times , serif;
  color: #FFF;
  background-image:linear-gradient(rgba(0,102,204,1),rgba(102,102,102,1));
}
#teclado{
  float: left;
  width: 100%;
  height: 75%;	
}
.nota{
	position::relative;
	float:left;
	height:90%;
	outline:#03F solid 1px;
	background:#CCC;
    width:14.28571428571429%;
	background-image:linear-gradient(rgba(102,102,102,1),rgba(0,102,204,1));
}
.tocada{
	background: #6F6;
	color: #FFF;
	outline: #699 solid 1px;
}

.textonota{
	position: relative;
	top: 80%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}